
$base-color: #DB00FF;
$error-color: #f22e28;
$success-color: #49AE50;
$warning-color: #ffc107;
$info-color: #2727ea;

:root {
  --nice-height: 45px;
  --nice-font-color: black;
  --nice-card: white;
  --nice-bg: #fafafa;
  --nice-bg-hover: #f3f3f3;
  --nice-bg-active: #FAFAFA;
  --nice-bg-focus: #fafafa;
  --nice-border-color: #efefef;
  --nice-border: 1px solid var(--nice-border-color);
  --nice-border-radius: 5px;
  --nice-btn-color: white;

  --nice-base-color: #{$base-color};
  --nice-base-color-lighter: #{lighten($base-color, 5%)};
  --nice-base-color-darker: #{darken($base-color, 5%)};

  --nice-error-color: #{$error-color};
  --nice-error-color-lighter: #{lighten($error-color, 5%)};
  --nice-error-color-darker: #{darken($error-color, 5%)};

  --nice-success-color: #{$success-color};
  --nice-success-color-lighter: #{lighten($success-color, 5%)};
  --nice-success-color-darker: #{darken($success-color, 5%)};

  --nice-warning-color: #{$warning-color};
  --nice-warning-color-lighter: #{lighten($warning-color, 5%)};
  --nice-warning-color-darker: #{darken($warning-color, 5%)};

  --nice-info-color: #{$info-color};
  --nice-info-color-darker: #{lighten($info-color, 5%)};
  --nice-info-color-lighter: #{darken($info-color, 5%)};
}