
:root {
  --nice-height: 45px;
  --nice-base-color: blue;
  --nice-base-color-lighter: lightblue;
  --nice-base-color-darker: darkblue;
  --nice-card: white;
  --nice-bg: #fafafa;
  --nice-bg-hover: #f3f3f3;
  --nice-bg-active: #FAFAFA;
  --nice-bg-focus: #fafafa;
  --nice-border-color: #fafafa;
  --nice-border: var(--nice-border);
  --nice-border-radius: 1rem;

  --nice-error-color: red;
  --nice-success-color: green;
  --nice-warning-color: rgb(202, 199, 0);
  --nice-info-color: rgb(75, 75, 250);
}